<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "darkmode.html" .}}
    <article>
        {{if .Title}}<h1>{{ .Title }}</h1>{{end}}
        {{if $.Site.Data.config.enableToc}}
        <aside class="mainTOC">
            {{ if not .Params.notoc }}
            <h3>Table of Contents 💖</h3>
            <div id="toc" class="well col-md-4 col-sm-6">
            {{ .TableOfContents }}
            </div>
         {{ end }}
        </aside>
        {{end}}
        
        {{- .Content -}}
    </article>
    {{partial "footer.html" .}}
</div>

{{- with resources.Get "darkmode.js" | minify -}}
<script>
  {{.Content | safeJS }}
</script>
{{- end -}}

</body>

</html>