// Add your own CSS here!
:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #6271c7;
  --tertiary: #4058e3;
  --visited: #4058e3;
  --primary: #79d3b8;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
}

[saved-theme="dark"] {
  --light: #262833 !important;
  --dark: #fbfffe !important;
  --secondary: #7e8ce0 !important;
  --visited: #b5bce4 !important;
  --tertiary: #b5bce4 !important;
  --primary: #79d3b8 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #332626 !important;
  --outlinegray: #343434 !important;
}